.tocTree {
  background: var(--theme-background);
  color: var(--theme-text);
  outline: none;
  width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

/* React Aria is providing a --tree-item-level as items are not nested */
.tocTreeItem {
  display: flex;
  padding: calc(var(--layout-spacing) / 2);
  padding-inline-start: calc(((var(--tree-item-level) - 1) * var(--layout-spacing)) + (var(--layout-spacing) / 2));
  border-radius: var(--layout-radius);
}

.tocTree:has(.tocTreeItemButton) .tocTreeItem {
  padding-inline-start: calc((var(--tree-item-level) * var(--layout-spacing)) + (var(--layout-spacing) / 2));
}

.tocTree .tocTreeItem:has(.tocTreeItemButton) {
  padding-inline-start: calc(((var(--tree-item-level) - 1) * var(--layout-spacing)));
}

.tocTreeItemText {
  flex: 1 1 auto;
}

.tocTreeItemButton {
  align-self: flex-start;
  width: calc(var(--icon-size, 24px) * 5/6);
  height: calc(var(--icon-size, 24px) * 5/6);
  margin-inline-end: calc(var(--layout-spacing) / 2);
}

.tocTreeItem[data-href] {
  cursor: pointer;
}

/* [data-hover] is only updated on tree items that can be expanded ATM… */
.tocTreeItem:hover {
  background-color: var(--theme-hover);
}

.tocTreeItem[data-focus-visible] {
  outline: 2px solid var(--theme-focus);
}

.tocTreeItem[data-disabled] {
  color: var(--theme-disable);
}

.tocTreeItemButton svg {
  rotate: 0deg;
  transition: rotate 200ms;
  width: 100%;
  height: 100%;
  fill: var(--theme-text);
}

.tocTreeItem[data-expanded] .tocTreeItemButton svg {
  rotate: 90deg;
}

.empty {
  max-width: 25ch;
  text-align: start;
  text-wrap: balance;
}